{% import 'macros/helpers.twig' as helpers %}

<div class="row-fluid">
    <h3>Function Details</h3>
    <h4 class="function-name">{{ symbol }}</h4>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>调用次数</th>
                <td>{{ current.ct }}</td>
            </tr>
            <tr>
                <th>自身耗时</th>
                <td>{{ current.ewt|as_time }}</td>
            </tr>
            <tr>
                <th>自身耗CPU</th>
                <td>{{ current.ecpu|as_time }}</td>
            </tr>
            <tr>
                <th>自身耗内存</th>
                <td>{{ current.emu|as_bytes }}</td>
            </tr>
            <tr>
                <th>自身耗内存峰值</th>
                <td>{{ current.epmu|as_bytes }}</td>
            </tr>
            <tr>
                <th>含子调用耗时</th>
                <td>{{ helpers.time_and_percent('wt', current, main) }}</td>
            </tr>
            <tr>
                <th>含子调用耗CPU</th>
                <td>{{ helpers.time_and_percent('cpu', current, main) }}</td>
            </tr>
            <tr>
                <th>含子调用耗时内存</th>
                <td>{{ helpers.time_and_percent('mu', current, main) }}</td>
            </tr>
            <tr>
                <th>含子调用耗时峰值</th>
                <td>{{ helpers.time_and_percent('pmu', current, main) }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Parent functions</h3>
    <table class="table table-hover table-sort">
        <thead>
            <tr>
                <th>函数</th>
                <th>调用次数</th>

                <th>自身耗时</th>
                <th>自身耗内存</th>
            </tr>
        </thead>
        <tbody>
        {% for parent in parents %}
        <tr>
            <td class="text child-symbol">
                {{ helpers.tip_link(
                    parent.function,
                    65,
                    'run.symbol',
                    {'id': id, 'symbol': parent.function}
                ) }}
            </td>
            <td>{{ child.ct }}</td>

            <td>{{ helpers.time_and_percent('wt', parent, main) }}</td>
            <td>{{ parent.mu|as_bytes }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">{{ symbol }} had no parents.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Child functions</h3>
    <table class="table table-hover table-sort">
        <thead>
            <tr>
                <th>函数</th>
                <th>函数</th>

                <th>自身耗时</th>
                <th>自身耗CPU</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
        <tr>
            <td class="text child-symbol">
                {{ helpers.tip_link(
                    child.function,
                    65,
                    'run.symbol',
                    {'id': id, 'symbol': child.function}
                ) }}
            </td>
            <td>{{ child.ct }}</td>

            <td>{{ helpers.time_and_percent('wt', child, main) }}</td>
            <td>{{ child.mu|as_bytes }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">{{ symbol }} called no functions.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
